<% provide(:title, @list.listname) %>

  <%= form_for @list, url: {action: "update" } do |list_details| %>

    <%= render partial: 'shared/validation', object: list_details.object %>

    <div id="list_panel" class="form-group">
      <%= list_details.label :listname %>:
      <%= list_details.text_field :listname ,class: "form-control" %>
    </div>

    <div id="words_panel" class="form-group">
      <%= list_details.fields_for :words do |list_words| %>
        <%= render 'word_fields', f: list_words %>
      <% end %>
    </div>

    <div id="actions" class="btn-toolbar">
      <div class="btn-group  btn-group-sm">
        <div class="btn btn-default">
          <%= link_to_add_fields "Add Word", list_details, :words %>
        </div>
        <%= link_to "Import Words", new_import_path(list_id: @list.id), class: "btn btn-default" %>
        <%= link_to "Print List", '#', onclick: "printpage()", class: "btn btn-default" %>
      </div>

      <div class="btn-group  btn-group-sm">
        <%= list_details.submit "Update List", class: "btn btn-primary " %>
        <%= link_to "Clear words", clear_words_list_path(@list), method: :patch, data: { confirm: "Re you sure?" }, class: "btn btn-danger" %>
        <%= link_to "Delete List", @list, method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>

    </div>
  <% end %>
