<% provide(:title, 'New List') %>
<h1>Add List</h1>

    <%= form_for(@list) do |list| %>
    <%= render partial: 'shared/validation', object: list.object %>

      <%= list.label :listname, 'List Name' %>
      <%= list.text_field :listname %>
      <br />
      <%= list.label :listtype, 'List Type' %>
      <%= list.select(:listtype, [['Personel','u'], ['School', 's'], ['Free','f']]) %>
      <br />
      <div class="btn-group-sm">
        <%= list.submit "Create List", class: "btn btn-primary" %>
      </div>

    <% end %>

