<% provide(:title, @list.listname) %>
<div class="clearfix">
	<h1 style="float:left"><%= @list.listname %>
	<span class="drop_font"><%= link_to "delete", @list, method: :delete,
 			data: { confirm: "You sure?" } %></span></h1>
</div>

<%= form_for @list, :url => { action: "update" } do |list_form| %>

<div><%= list_form.text_field :listname %></div>

<% @myarray = @list.words %>
<%= list_form.fields_for :myarray do |mywords| %>
	<div id="">
		<%= mywords.text_field :word %>
	<div>
<% end %>

<%= list_form.submit "Update List", class: "btn btn-large btn-primary" %>
<% end %>
