<% provide(:title, @list.listname) %>

<%= form_for @list, :url => {action: "update" } do |f| %>

<div><%= f.text_field :listname %>
<span class="drop_font"><%= link_to "delete", @list, method: :_destroy,
 			data: { confirm: "You sure?" } %></span></h1></div>

<%= f.fields_for :words do |builder| %>
	<%= render 'words', f: builder %>
<% end %>

<%= f.submit "Update List", class: "btn btn-large btn-primary" %>
<% end %>
