<% provide(:title, "Edit #{@user.name}") %>

  <%= form_for @user, url: {action: "update" } do |user_details| %>
    <%= render partial: 'shared/validation', object: user_details.object %>

  <div class = "form-group">
    <%= user_details.label :name%>:
    <%= user_details.text_field :name, class: "form-control", placeholder: "first last" %>
  </div>

  <div class = "form-group">
    <%= user_details.label :email%>:
    <%= user_details.email_field :email, class: "form-control" %>
  </div>

    <%= user_details.submit "Save Changes", class: "btn btn-small btn-primary" %>
  <% end %>


