<h1>Word Import for list <%= @list.listname %></h1>

<p>A CSV, Excel or Open Speadsheet can be used to import words into your list. You are allowed to import up to 100 words per list. The spreadsheet format is shown below.</p>

<ul>
       <li>
        <strong>word</strong> -
        upto 45 characters with no spaces
      </li>
</ul>

<%= form_for @word_import do |f| %>
  <% if @word_import.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@word_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% @word_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

<%= hidden_field_tag 'list_id', @list.id %>

  <div class="field">
    <%= f.file_field :file %>
  </div>

  <div class="buttons">
    <%= f.submit "Import" %>
  </div>

<% end %>
